@using YahtzeeGame.CombinationHandler
<style type="text/css"></style>
<link rel="stylesheet" href="css/singleplayer.css"/>

@{
    ViewBag.Title = "Yahtzee!";
    var (upperSectionCombs, lowerSectionCombs) = CombinationHandler.GetCombinationNames();
}
<h2>Yahtzee! - Singleplayer</h2>
<div id="game-board">
    <div id="dice">
        @for (var i = 0; i < 5; i++)
        {
            <button class="die" id="@("die" + i)" isLocked="false">
                <img src="" alt=@("Die#"+i)>
            </button>
        }

    </div>
    <button id="roll-dice">Roll The Dice!</button>
    <div class="container">
        <table id="combinations">
            <thead>
            <tr>
                <th>Combination</th>
                <th>Score</th>
                <th>|||</th>
                <th class="comb">Combination</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0, j = 6; i < upperSectionCombs.Count; i++, j++)
            {
                <tr>
                    <td id="comb-name-@i">
                        <button id="comb-name-bttn-@i" class="comb-name-bttn" data-available="1">
                            @upperSectionCombs[i]
                        </button>
                    </td>
                    <td id="comb-score-@i">-</td>

                    <td>|||</td>

                    <td id="comb-name-@j">
                        <button id="comb-name-bttn-@j" class="comb-name-bttn" data-available="1">
                            @lowerSectionCombs[i]
                        </button>
                    </td>
                    <td id="comb-score-@j">-</td>
                </tr>
            }
            <tr id="bonus-chance">
                <td id="bonus-name">Bonus</td>
                <td id="bonus-score">-</td>
                <td>|||</td>
                <td id="chance-name">
                    <button id="chance-name-bttn" data-available="1">Chance</button>
                </td>
                <td id="chance-score" data-preserved="false">-</td>
            </tr>
            <tr id="overall">
                <th colspan="4">Overall Score</th>
                <th id="overall-score">0</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/site.js"></script>
}