@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
/* bg image */
body {
    background-color: grey;
    font-family: "Nunito Sans", sans-serif;
}
h2{
    box-shadow: black 5px 5px;
    margin: auto;
    margin-bottom: 1%;
    width: 35%;
    padding: 1%;
    border-radius: 5pt;
    text-align: center;
    background-color: whitesmoke;
}
/* Style for the game board */
#game-board {
    box-shadow: black 5px 5px;
    width: 90%;
    margin: auto;
    background-color: #92673e;
    background-color: rgba(146, 103, 62, 1);
    -ms-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
}

#dice {
    display: flex;
    flex-direction: row;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* Style for the dice */
.die {
    width: 100px;
    height: 100px;
    display: inline-block;
    padding: 0;
    margin: 10px;
    border-radius: 7px;
}

/* Style for the currently animating dice */
    .die:disabled {
        cursor: not-allowed;
    }
button.die.locked {
    border: 2pt solid red;
}

/* Style for the roll button */
#roll-dice {
    width:20%;
    display:block;
    margin:2% auto;
    font-size: large;
    background: ivory;
    border: 1pt solid #6c4622;
    box-shadow: 5px 5px 0 black, -5px -5px 0 #6d3f13, -5px 5px 0 #6d3f13, 5px -5px 0 black;
    transition: 500ms ease-in-out;
}
    #roll-dice:hover {
        box-shadow: 20px 5px 0 black, -20px -5px 0 black;
        background: #d7ffc9;
    }
    #roll-dice:focus {
        outline: none;
    }
    #roll-dice:disabled {
        color:lightgray;
        cursor: not-allowed;
        background-color: gray;
        border: 1pt solid gray;
        box-shadow: 5px 5px 0 grey, -5px -5px 0 grey, -5px 5px 0 grey, 5px -5px 0 grey;
        transition: 500ms ease-in-out;
    }
#combinations {
    margin: auto;
    width: 60%;
}

    #combinations,
    #combinations tr,
    #combinations td,
    #combinations th {
        border: 1pt solid black;
        text-align: center;
        padding: 1%;
    }
#combinations td{
    padding:0%;
}
table {
    background-color: ivory;
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 5pt 5pt 2pt #505050;
    box-shadow: 5pt 5pt 2pt rgba(80,80,80,0.6);
}

.comb-name-bttn, #chance-name-bttn {
    width: 100%;
    appearance: none;
    border: none;
    background-color: transparent;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}
    .comb-name-bttn[data-available="0"], #chance-name-bttn[data-available="0"] {
        background-color: grey;
        color: ivory;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .comb-name-bttn:disabled, #chance-name-bttn:disabled {
        background-color: #323232;
        cursor: not-allowed;
        color: ivory;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
thead th {
    color: ivory;
    background-color: #55608f;
}

tbody tr:hover {
    background-color: #1e1e1e;
    background-color: rgba(30,30,30,0.3);
}

#bonus-chance{
    text-align:center;
}
#bonus-name,#bonus-score{
    background-color:lightslategray;
}
#overall-score{
    background-color:seagreen;
}
