@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap");
/* bg image */
body {
    background-color: grey;
    font-family: "Nunito Sans", sans-serif;
}
h2{
    box-shadow: black 5px 5px;
    margin: auto;
    margin-bottom: 1%;
    width: 35%;
    padding: 1%;
    border-radius: 5pt;
    text-align: center;
    background-color: whitesmoke;
}
/* Style for the game board */
#game-board {
    box-shadow: black 5px 5px;
    width: 90%;
    margin: auto;
    background-color: rgba(146, 103, 62, 1);
    border-radius: 20px;
    padding: 20px;
}

#dice {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Style for the dice */
.die {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: xxx-large;
    background-color: ivory;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
    /* Style for the currently animating dice */
    .die:disabled {
        background-color: darkslategrey;
        color: ivory;
        cursor: not-allowed;
    }
/* Style for the roll button */
#roll-dice {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
    #roll-dice:hover {
        background-color: chocolate;
        color: ivory;
    }
    
#roll-dice:disabled {
    cursor:not-allowed;
    background-color:gray;
}
#combinations {
    margin: auto;
    width: 60%;
}

    #combinations,
    #combinations tr,
    #combinations td,
    #combinations th {
        border: 1pt solid black;
        text-align: center;
        padding: 1%;
    }
#combinations td{
    padding:0%;
}
table {
    background-color: ivory;
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.6);
}

.comb-name-bttn, #chance-name-bttn {
    width: 100%;
    appearance: none;
    border: none;
    background-color: transparent;
    margin: 0;
}
    .comb-name-bttn:disabled{
        background-color: grey;
        cursor: not-allowed;
        color: ivory;
    }
#chance-name-bttn:disabled {
    background-color: grey;
    cursor: not-allowed;
    color: ivory;
}
thead th {
    color: ivory;
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255,255,55,0.2);
}
#bonus-chance{
    text-align:center;
}
#bonus-name,#bonus-score{
    background-color:lightslategray;
}
#overall-score{
    background-color:seagreen;
}
